<div class="form-signin text-center p-5">
    <form id="login-form">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating m-1">
            <input type="text" class="form-control" id="username-login" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating m-1">
            <input type="password" class="form-control" id="password-login" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary m-1" type="submit">Sign in</button>
        <a class="m-1" href="/signup">Sign Up</a>
    </form>
</div>
<script src="/js/login.js"></script>